
.A1 img:last-child{display:none}
.A1:hover img:first-child{display:none}
.A1:hover img:last-child{display:inline-block}

h1 {
    font-size: 25px; text-align: center;
    border-bottom: 1px solid gray; 
    margin: 30px;
    padding: 10px;
}

div {
    padding: 30px;
    line-height: 30px;
}

body {
    margin: 0 auto;
    width: 1200px;
}